body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    padding: 50px;
}
#calculator {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    inner-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border-radius: 50%;
    align-items: center;
}
#display {
    width: 250px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    background-color: #bcbaba;
}
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.number {
    background-color: #e0e0e0;
    color: #333;
}
.operator {
    background-color: #5f5d5c;
    color: white;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}
#h1new{
    color: white;
    text-align: center;
}

