.body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#input {
    font-size: 70px;
    text-align: right;
    margin-bottom: 10px;
}
#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #6d6d6d;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid black;
    color: rgb(246, 244, 244);
}
.buttons {
    font-size: 50px;
    padding: 80px 80px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    background-color: #1e1e1e;
    
}
.buttons:hover {
    background-color: #020202;
}
.buttons:active {
    background-color: #272727;
}
.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    size: 100%;
}
